[submodule "external-libraries/myhtml"]
	path = external-libraries/myhtml
	url = https://github.com/lexborisov/myhtml.git

[submodule "external-libraries/cmark-gfm"]
	path = external-libraries/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
[submodule "external-libraries/sds"]
	path = external-libraries/sds
	url = https://github.com/antirez/sds.git
