image: gcc

stages:
  - build
  - test

before_script:
  - apt-get update
  - apt-get install --yes cmake
  - echo Installing Criterion
  - git clone https://github.com/Snaipe/Criterion.git
  - cd Criterion
  - mkdir cmake && cd cmake
  - cmake ..
  - make
  - make install

build:
  stage: build
  artifacts:
    paths:
      - lib/
      - include/
      - cmake/
      - cmake/RunUnitTests
  script:
    - git submodule update --init
    - echo Installing MyHTML
    - cd external-libraries/myhtml
    - make
    - make install prefix=../..
    - echo Installing CMark-GFM
    - cd ../cmark-gfm
    - mkdir build && cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=../../..
    - make
    - make install
    - echo Installing MarkdownPanda
    - cd ../../..
    - mkdir cmake && cd cmake
    - cmake ..
    - make

test:
  stage: test
  script:
    - cd cmake
    - ./RunUnitTests
